*{
  margin: 0;
  padding: 0;
  font: small-caption ;
}

.container{
  display: flex;
  background-color: antiquewhite;
  font-size: 14px;
  color: #0d0c22;
  padding: 10px;
  justify-content: space-between;

}
.logo{
  padding-right: 10%;
  padding-left: 3%;
}
.flex{
  display: flex;
}
.start{
  display: flex ;
  align-items: center;
}

.start ul {
  list-style: none;
}

.start ul li{
  margin: 0px 10px ;
}

.end{
  display: flex;
  align-items: center;
  padding-right: 5%;
}


.share_work button{
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin: 0px 15px ;
}

.end .search input{
  padding: 8px;
  border-radius: 30px;
  border: none;
}
.profile{
  background-image: url("download.jpeg");
}